{% extends 'base.html'%}

{%block title %} Index {%endblock%}

{%block content %}


<div class="text-center text-4xl text-gray-400 mt-10">Your tournaments</div>

<div class=" w-1/2 py-6 px-6 mx-auto ">
    {% if tournaments %}
    <ul>
        {% for  tournament in tournaments %}
            <li><a href="{%url 'home' tournament.name %}" class="text-pink-200 inline-block  px-5 py-4 font-semibold hover:bg-teal-700 rounded-xl">{{forloop.counter}}) {{ tournament.name }} </a></li>
        {%endfor%}
    </ul>
    {% else %}
        <div class="text-center text-2xl text-gray-400 mt-10 p-3">No tournaments yet</div>
    {% endif %}
</div> 

<div class="flex justify-center">
    <a href ="/" class ="inline-block  indent-7 w-32 px-5 py-4 text-lg font-semibold bg-teal-500 text-white hover:bg-teal-700 rounded-xl">Back</a>
</div>
<br><br>




{%endblock %}