{% extends 'base.html' %}

{%block title %} Home {% endblock %}

{% block content %}
    
    <div>
        <div class="mb-6 text-4xl font-semibold flex justify-center text-white">Home</div>
<br>
        <div class="grid grid-cols-2 gap-12 flex justify-center w-full text-center pl-40 pr-40">
            <a href="{% url 'show_teams' tournament.name %}" class ="px-6 py-3 text-lg font-semibold bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Show teams</a>
            <a href="{% url 'show_schedule' tournament.name %}" class ="px-6 py-3 text-lg font-semibold bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Show Schedule</a>
            <a href="{% url 'simulate' tournament.name %}" class ="px-6 py-3 text-lg font-semibold bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Simulate Match</a>
            <a href="{% url 'show_points_table' tournament.name %}" class ="px-6 py-3 text-lg font-semibold bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Points Table</a>
            <a href="{% url 'scorecard' tournament.name %}" class ="px-6 py-3 text-lg font-semibold bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Match Scorecard</a>
            <a href="#" class ="px-6 py-3 text-lg font-semibold bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Team Stats</a>
            <a href="#" class ="px-6 py-3 text-lg font-semibold bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Tournament Stats</a>
            <a href="#" class ="px-6 py-3 text-lg font-semibold bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Player Stats</a>
            
        </div>
        <br><br>
        <div class="flex justify-center">
        <a href ="/" class ="inline-block mt-4 indent-7 w-32 hover:indent-8 px-5 py-4 text-lg font-semibold bg-red-500 text-white hover:bg-red-700 rounded-xl">Exit    </a>
        </div>
        <br><br>


    </div>
{% endblock %}