{% extends 'base.html' %}
{%block title %}Login{% endblock%}

{%block content%}

<div class="flex justify-center my-6 p-6">
    <div class="w-2/5 bg-teal-100 rounded-lg mt-8">
        <h1 class="mb-6 mt-5 text-4xl font-semibold text-center">Login</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-4 mt-3 w-4/5 mx-auto">
                <div class =" inline-block mb-2 text-xl border-2 border-blue-500 rounded-lg w-full bg-gray-100">
                    <label for="username" class="sr-only">Username</label>
                    {{ form.username }}
                </div>
                {% if form.username.errors %}
                <div class="text-red-500 mt-2 text-sm">
                    {{ form.username.errors }}
                </div>
                {% endif %}
            </div>
            <div class="mb-4 mt-3 w-4/5 mx-auto">
                <div class =" inline-block mb-2 text-xl border-2 border-red-500 rounded-lg w-full bg-gray-100">
                    <label for="password" class="sr-only">Password</label>
                    {{ form.password }}
                </div>
                {% if form.password.errors %}
                <div class="text-red-500 mt-2 text-sm">
                    {{ form.password.errors }}
                </div>
                {% endif %}
            </div>
            <div class="mt-5 w-3/5 mx-auto px-3 py-6">
                <button type="submit"
                    class="bg-blue-700 text-white px-4 py-3 rounded-xl font-medium w-full">Login</button>
            </div>
        </form>
    </div>

{% endblock %}